<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>08E77701-5028-4B64-855B-E9BA78121960</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>herat</string>
			<key>text</key>
			<string>herat</string>
			<key>url</key>
			<string>vnc://herat:herat@{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1DD60826-673F-4F2C-907B-CC5BC2DE07CF</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>mlb</string>
			<key>text</key>
			<string>mlb</string>
			<key>url</key>
			<string>https://msdreport.ecs.apple.com/johnloon/{query}/mlb/msdreport.cgi</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>53B68E37-2D02-4ECE-8F2A-D29BF1643108</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jl</string>
			<key>text</key>
			<string>johnloon</string>
			<key>url</key>
			<string>https://msdreport.ecs.apple.com/johnloon/{query}/msdreport.cgi</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6CB3BBA3-6E6D-4016-BD34-8AC4A6ABB29C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>adir</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>adir</string>
			<key>url</key>
			<string>adir://search/employees?applesearchtext={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8AD54099-67E6-46CD-A514-99A4F48FBC2F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>rdar</string>
			<key>text</key>
			<string>rdar</string>
			<key>url</key>
			<string>rdar://{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>97058FAC-2658-4319-811D-8A2EF51A20AF</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>cd</string>
			<key>text</key>
			<string>CD Server</string>
			<key>url</key>
			<string>https://cd.apple.com/CDs/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AC8D2CD7-2AD1-44B5-8513-50BF15C59018</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dti</string>
			<key>text</key>
			<string>DTI Server</string>
			<key>url</key>
			<string>afp://dti.apple.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B48F06D8-8D9E-4AB2-A574-AB8C4770FAD8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rev</string>
			<key>text</key>
			<string>review</string>
			<key>url</key>
			<string>https://review-hwte.apple.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BD190BB6-374C-4C87-9165-0D8095E0E969</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>test</string>
			<key>text</key>
			<string>Bristol Test ID Lookup</string>
			<key>url</key>
			<string>https://hwdiags.apple.com/de/tests/details.php?diags_id=17&amp;ts_id={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
